{% extends "base.html" %}

{% block title %}
  <title>Worker Detail</title>
{% endblock %}

{% block content %}
  <h3>{{ worker.username }}</h3>
  <p>Position: {{ worker.position }}</p>
  <p>Full name: {{ worker.first_name }} {{ worker.last_name }}</p>
  <p>Email: {{ worker.email }}</p>
  {% if worker.tasks.all %}
    Working on the following tasks:
    <ul>
      {% for task in worker.tasks.all %}
        <li>{{ task.name }}</li>
      {% endfor %}
    </ul>
  {% else %}
    There are no active tasks
  {% endif %}
{% endblock %}
